@import "../../sass/variables";
@import "../../sass/breakpoints.scss";

.Landing {
    height: 100vh;
    width: 100%;
    font-family: "ProximaNovaBold";
    display: flex;
    justify-content: center;
    align-items: center;
    color: $paragraph;
    
    .LandingTitle {
        font-size: 5rem;
        width: 100%;
        margin-bottom: 2rem;
        transition: 0.3s ease;
    }
    
    @include media ("<=desktop") {
        .LandingTitle {
            font-size: 4rem;
        }
    }

    @include media ("<=tablet") {
        .LandingTitle {
            font-size: 2.75rem;
        }
    }

    @include media ("<=phone") {
        .LandingTitle {
            font-size: 2rem;
        }
    }
}

