@import './sass/variables';

@font-face {
    font-family: "ProximaNova";
    src: local("ProximaNova"), url("./fonts/ProximaNova-Regular.otf") format('opentype');
  }
  
@font-face {
  font-family: "ProximaNovaBold";
  src: local("ProximaNovaBold"), url("./fonts/Proxima Nova Alt Bold.otf") format('opentype');
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "ProximaNova";
  font-size: 16px;
  line-height: 1.8;
  background-color: $background;
  text-align: left;
  overflow-x: hidden;
}

.row {
  margin:0;
  height: 100%;
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-12, .col-lg-8 {
  padding-left:0;
  margin:0;
}

.page {
  margin-bottom: 5rem;
}